<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
  <h1 class = 'container'><strong><%= @project.title %></strong> </h1>
  <p class = 'container'>Description: <%= @project.description %> </p>
</div>


<br>
<div class="container">
<a class="btn btn-info" href= '/'  role="button">Back</a>
<%if student_signed_in? %>
<a class="btn btn-info"  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>   </a>
<a class="btn btn-info" <%= link_to 'Edit', edit_project_path(@project) %>   </a>
<% end %> 
</div>
